.archive.category
  .section-archive-header
    hr
      &:last-of-type
        background-color: #DBDBDB
    .card-wide-cat
      .card-content
        hr
          background-color: $main-blue
  .section-archive-content
    padding-top: 0px
    padding-bottom: 100px
  .cvf_pag_loading
    .cvf_universal_container
      .cvf-universal-content
        flex-direction: column

.post-type-archive-von_hans_r_amrein
  .section-archive-header
    .author
      &__description
        margin-bottom: 30px
        line-height: 26px
        height: auto
      &__name
        font-size: 30px
        text-transform: uppercase
        margin-bottom: 0px
        color: $dark-blue
      &__position
        font-family: $acumin-font
        font-weight: 700
        font-size: 22px
        margin-bottom: 40px
        color: $dark-blue
      &__img-wrapper
        box-shadow: 0px 3px 20px #00000038
        img
          width: 100%
          max-width: 370px
          height: auto
          object-fit: cover
    hr
      background-color: #BABABA
  .section-archive-content
    padding-top: 20px
    padding-bottom: 100px
  .cvf_pag_loading
    .cvf_universal_container
      .cvf-universal-content
        flex-direction: column