.company-content
    &__row
        padding: 40px 0
    &__title
        font-family: $raj-font
        font-size: 30px
        font-weight: 500
        color: #1A2338
        text-transform: uppercase
        margin-bottom: 45px
    &__subtitle
        font-family: $acumin-font
        font-size: 18px
        font-weight: 600
        color: #1A2338
    &__text
        font-family: $acumin-font
        font-size: 16px
        font-weight: 300
        color: #1A2338
    &__text-content
        margin-bottom: 35px

.section-company-content
  padding-bottom: 60px !important
  .company-content__col-img
    img
      height: auto
      object-fit: cover
  .socials-text
    font-family: $acumin-font
    font-size: 16px
    margin-bottom: 15px
    font-weight: 600
  .socials-wrapper
    display: flex
    margin-bottom: 30px
    .social-link
      display: block
      padding-right: 15px
      margin-right: 15px
      border-right: 1px solid #9A9A9A
      &:last-of-type
        padding-right: 0px
        margin-right: 0px
        border-right: none
      svg
        height: 20px
        fill: #9A9A9A

.marktplatz_caption
  background: linear-gradient(0deg,#1b1f27,#1b1f27 0%,rgba(27,31,39,.6) 15%,rgba(27,31,39,.5) 60%,rgba(27,31,39,.3) 75%,rgba(27,31,39,0))
  -webkit-line-clamp: 3
  -webkit-box-orient: vertical
  color: #fff
  display: -webkit-box!important
  font-family: acumin-pro,sans-serif
  font-size: 18px
  font-weight: 700
  margin-bottom: 0px
  overflow: hidden
  padding-top: 10px
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  padding-left: 25px
  padding-bottom: 20px
  text-decoration: none
  text-overflow: ellipsis
  transition: all .3s ease-in-out
  white-space: normal
  &::before
    background-color: #fff
    content: ""
    display: block
    height: 3px
    position: absolute
    top: 0
    transition: all .3s ease-in-out
    width: 170px

.single-marktplatz-button-next,
.single-marktplatz-button-prev
  color: #c26538
  width: 27px