.markt-intro
    &__row
        justify-content: center
    &__text
        p
            font-family: $acumin-font
            font-size: 18px
            font-weight: 600
            color: #1A2338
            text-align: center
        a
            color: $main-orange
            &:hover
                color: #1A2338

@keyframes refreshRotate
    from
        transform: rotate(0deg)
    to
        transform: rotate(360deg)
    

.marktplatz
    &__row
        .cvf_pag_loading
            .cvf_universal_container
                position: relative
                min-height: 540px
                .spinner
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                    display: flex
                    justify-content: center
                    align-content: center
                    width: 100%
                    height: 100%
                    background-color: #fff
                    svg
                        display: block
                        animation: refreshRotate 2s linear infinite
                        width: 20px
                        max-width: 100%
                        fill: $dark-blue
                .cvf-universal-content
                    .bg-danger
                        font-family: $acumin-font
                        font-weight: 400
                        font-size: 15px
                        line-height: 22px
                        color: #fff
                        padding: 10px 25px
                        border-radius: 20px
                        margin: 0px
    &__col
        background-color: #F3F3F3
        padding: 15px
        min-height: 140px
        overflow: hidden
    &__title
        font-family: $acumin-font
        font-size: 22px
        font-weight: 600
        letter-spacing: 0px
        color: #090036
    &__cat, &__position p
        display: inline
        font-family: $montserrat-font
        font-size: 12px
        font-weight: 500
        color: #1A2338
        text-transform: uppercase
        margin-right: 5px
    &__cat:not(:last-of-type)::after
        content: ","
    &__read-more
        display: flex
        font-family: $acumin-font
        font-size: 18px
        font-weight: 600
        color: #C26538
        text-decoration: none
        &:hover
            color: #1A2338
        .icon-arrow
            display: block
            font-size: 32px
            margin-left: 10px

.markt-search-form
    display: flex
    justify-content: center
    margin-bottom: 60px
    input[type=text]
        width: 254px
        border-radius: 24px
        border: 1px solid #707070
        margin-left: 20px
        background-color: #fff
        background-image: url('../../images/search-icon.svg')
        background-repeat: no-repeat
        background-attachment: scroll
        background-position: 12px 8px
        padding-left: 40px
    input[type=submit]
        display: none
    select
        width: 254px
        border-radius: 24px
        border: 1px solid #707070
        display: block
        padding: 0.375rem 0.75rem
        font-size: 1rem
        font-weight: 400
        line-height: 1.5
        color: #212529
        background-color: #fff
        margin-right: 20px

.section-markt-intro
    padding-top: 100px!important

.section-marktplatz
    padding-top: 20px!important

.section-markt-outro
    background-color: $main-orange

.markt-outro
    &__row
        justify-content: center
    &__col
        text-align: center
        .btn__blue
            &:hover
                background-color: #002544 !important
                color: #ffffff
    &__text
        font-family: $acumin-font
        font-size: 16px
        font-weight: 400
        color: #FFFFFF
        margin-bottom: 30px

.cvf-universal-content
    display: flex
    justify-content: center

.cvf-universal-pagination
    display: flex
    justify-content: end
    padding-right: var(--bs-gutter-x, 0.75rem)
    padding-left: var(--bs-gutter-x, 0.75rem)
    ul
        margin: 0
        padding: 0
        li
            display: inline
            margin: 0
            padding: 6px 12px
            font-family: $acumin-font
            font-weight: 600
            font-size: 16px
            background: #F9F9F9
            color: #3C3C3C
            a
                font-family: $acumin-font
                font-weight: 600
                font-size: 16px
                text-decoration: none
                color: #3C3C3C
                transition: all .3s ease-in-out
                &:hover
                    color: $main-orange
        li:first-child
            border-radius: 18px
            margin-right: 5px
        li:last-child
            border-radius: 18px
            margin-left: 5px
        li:nth-child(2)
            padding-left: 20px
            border-top-left-radius: 18px
            border-bottom-left-radius: 18px
        li:nth-last-child(2)
            padding-right: 20px
            border-top-right-radius: 18px
            border-bottom-right-radius: 18px
        li.active:hover
            cursor: pointer
            background: #F9F9F9
            font-weight: 600
            color: #3C3C3C
        li.inactive
            background: #F9F9F9
        li.selected
            background: #F9F9F9
            font-weight: 600
            color: #3C3C3C

/*Responsive*/
@include media-breakpoint-down(lg)
    .cvf-universal-pagination
        justify-content: center

    .markt-search-form
        flex-direction: column
        align-items: center
        input[type=text]
            margin-left: 0
        select
            margin-right: 0
            margin-bottom: 25px

@include media-breakpoint-down(md)
.cvf-universal-pagination
    ul
        li
            padding: 6px 9px

@include media-breakpoint-down(sm)
    .markt-intro
        &__text
            p
                text-align: left
                padding: 0 12px