.post-template-default
  .section-single-post
    .content
      img
        max-width: 100%
        width: 100%
        height: auto
        object-fit: cover
      p
        font-family: $acumin-font
        font-weight: 300
        font-size: 16px
        line-height: 28px
        color: $dark-blue
        strong
          font-weight: 700
        a
          color: $main-orange
          text-decoration: none
          transition: all .3s ease-in-out
          &:hover
            color: $main-blue
      p.has-large-font-size
        line-height: 45px
      //p.font-size:46px
        line-height: 60px

      h4,
      h5,
      h6
        font-family: $raj-font
        font-weight: bold
        margin: 20px 0px
        color: $dark-blue
      h2
        font-family: $acumin-font
        font-size: 18px
        font-weight: 600
        line-height: 30px
        color: #565463
        margin: 30px 0px
      h3
        font-family: $acumin-font
        font-size: 18px
        font-weight: 600
        line-height: 30px
        color: $dark-blue
        margin: 20px 0px
      h4
        font-size: 17px
      h5
        font-size: 16px
      h6
        font-size: 15px

      blockquote
        position: relative
        background-color: #F3F3F3
        border-left: 5px solid $main-orange
        padding: 40px
        margin: 50px 0
        &::before
          font-family: arial, open-sans
          text-transform: uppercase
          display: block
          padding-left: 10px
          content: "\201C"
          font-size: 70px
          position: absolute
          left: 0px
          top: 0px
          color: $font-grey
        &::after
          font-family: arial, open-sans
          text-transform: uppercase
          display: block
          padding-right: 10px
          content: "\201D"
          font-size: 70px
          position: absolute
          right: 0px
          bottom: 0px
          color: $font-grey
        p
          font-family: $raj-font
          font-size: 18px
          font-weight: 600
          line-height: 28px
          color: $dark-blue
          margin: 0
        cite
          display: block
          font-family: $raj-font
          font-size: 18px
          font-weight: 600
          font-style: normal
          line-height: 28px
          color: $font-grey
          margin-top: 10px

      .wp-block-gallery
        .blocks-gallery-grid
          .blocks-gallery-item
            figure
              position: relative
              overflow: hidden
              &:hover
                cursor: pointer
                figcaption
                  transform: translateY(0px)
              figcaption
                font-family: $acumin-font
                font-weight: 300
                font-size: 14px
                transition: all .3s ease-in-out
                transform: translateY(100px)
      .wp-block-gallery
        .wp-block-image
          position: relative
          overflow: hidden
          &:hover
            cursor: pointer
            figcaption
              transform: translateY(0px)
          figcaption
            font-family: $acumin-font
            font-weight: 300
            font-size: 14px
            transition: all .3s ease-in-out
            transform: translateY(60px)

.author
  &__username
    font-family: $acumin-font
    font-size: 18px
    font-weight: 600
    color: #1A2338
  &__description
    font-family: $acumin-font
    font-size: 16px
    font-weight: 300
    color: #1A2338
    height: 70px
    display: block
    overflow: hidden
  &__showmore
    font-family: $acumin-font
    font-size: 14px
    font-weight: 600
    color: #1A2338
    text-decoration: none
    cursor: pointer
  &__title
    font-family: $raj-font
    font-size: 24px
    font-weight: 400
    color: #9D9D9D