.post-template-default,
.von_hans_r_amrein-template-default
  .type-post,
  .type-von_hans_r_amrein
    padding-top: 60px
    padding-bottom: 100px
    .sidebar
      //padding: 0
      margin-bottom: 20px
      .latest-posts-by-hans__title
        position: relative
        font-family: $raj-font
        font-weight: 600
        font-size: 24px
        color: #606060
        &::before
          position: absolute
          top: -15px
          left: 0px
          content: ''
          display: block
          width: 100px
          height: 6px
          background-color: $main-orange
      .ads-sidebar
        margin-top: 40px
      .no-author
        .ads-sidebar
          margin-top: 0px
    .content
      //max-width: 670px
      .post
        &-header
          font-family: $acumin-font
          font-size: 30px
          font-weight: 600
          color: $dark-blue
          margin-bottom: 20px
        &-date
          padding: 20px 0
          font-family: $acumin-font
          font-size: 16px
          font-weight: 400
          color: #9D9D9D
          text-transform: uppercase
          .icon-clock
              margin-right: 10px
        &-content
          max-width: 670px
        

      img
        max-width: 100%
        width: 100%
        height: auto
        object-fit: cover
      p
        font-family: $acumin-font
        font-weight: 300
        font-size: 16px
        line-height: 26px
        color: $dark-blue
        strong
          font-weight: 700
        a
          color: $main-orange
          text-decoration: none
          transition: all .3s ease-in-out
          &:hover
            color: $main-blue
      p.has-large-font-size
        line-height: 45px
      //p.font-size:46px
        line-height: 60px

      h4,
      h5,
      h6
        font-family: $raj-font
        font-weight: bold
        margin: 20px 0px
        color: $dark-blue
      h2
        font-family: $acumin-font
        font-size: 18px
        font-weight: 600
        line-height: 30px
        color: #565463
        margin: 30px 0px
      h3
        font-family: $acumin-font
        font-size: 18px
        font-weight: 600
        line-height: 30px
        color: $dark-blue
        margin: 20px 0px
      h4
        font-size: 17px
      h5
        font-size: 16px
      h6
        font-size: 15px

      blockquote
        position: relative
        background-color: #F3F3F3
        border-left: 5px solid $main-orange
        padding: 40px
        margin: 50px 0
        &::before
          font-family: arial, open-sans
          text-transform: uppercase
          display: block
          padding-left: 10px
          content: "\201C"
          font-size: 70px
          position: absolute
          left: 0px
          top: 0px
          color: $font-grey
        &::after
          font-family: arial, open-sans
          text-transform: uppercase
          display: block
          padding-right: 10px
          content: "\201D"
          font-size: 70px
          position: absolute
          right: 0px
          bottom: 0px
          color: $font-grey
        p
          font-family: $raj-font
          font-size: 18px
          font-weight: 600
          line-height: 28px
          color: $dark-blue
          margin: 0
        cite
          display: block
          font-family: $raj-font
          font-size: 18px
          font-weight: 600
          font-style: normal
          line-height: 28px
          color: $font-grey
          margin-top: 10px
      ul,
      ol,
      dl
        font-family: $acumin-font
        font-weight: 300
        font-size: 16px
        line-height: 28px
        color: $dark-blue
        li
          font-family: $acumin-font
          font-weight: 300
          font-size: 16px
          line-height: 28px
          color: $dark-blue
          p
            line-height: 28px
      ul
        list-style: none
        > li
          &::before
            content: '\2022'
            color: $main-orange
            font-weight: bold
            display: inline-block
            width: 1em
            margin-left: -1em
      .wp-block-gallery
        .blocks-gallery-grid
          .blocks-gallery-item
            figure
              position: relative
              overflow: hidden
              &:hover
                cursor: pointer
                figcaption
                  transform: translateY(0px)
              figcaption
                font-family: $acumin-font
                font-weight: 300
                font-size: 14px
                transition: all .3s ease-in-out
                transform: translateY(110px)
      .wp-block-image
        position: relative
        overflow: hidden
        &:hover
          cursor: pointer
          figcaption
            transform: translateY(0px)
        figcaption
          position: absolute
          bottom: 0
          left: 0
          right: 0
          width: 100%
          padding: 10px 15px
          margin: 0
          font-family: $acumin-font
          font-weight: 300
          font-size: 13px
          line-height: 22px
          transition: all .3s ease-in-out
          transform: translateY(110px)
          background: linear-gradient(0deg, black, transparent)
          color: #fff
      .wp-block-gallery
        .wp-block-image
          position: relative
          overflow: hidden
          &:hover
            cursor: pointer
            figcaption
              transform: translateY(0px)
          figcaption
            font-family: $acumin-font
            font-weight: 300
            font-size: 14px
            transition: all .3s ease-in-out
            transform: translateY(60px)
            color: #fff
      .wp-block-group.has-background
        .wp-block-group__inner-container
          padding: 60px
          padding-left: 70px
          border-left: 5px solid $main-blue
          background-color: #F3F3F3
          margin: 30px 0px
          position: relative
          &::before
            content: ''
            display: block
            position: absolute
            top: 65px
            left: 20px
            width: 27px
            height: 27px
            background-image: url( '../../images/infobox-icon.png' )
            background-position: center center
            background-repeat: no-repeat
            background-size: cover
          h2,
          h3
            font-family: $acumin-font
            font-size: 18px
            font-weight: 700
            color: $main-blue
            margin-top: 0px
            margin-bottom: 10px
          p
            &:last-of-type
              margin-bottom: 0px
      hr
        background-color: #BABABA
        margin: 15px 0
      .back-to-overview
        display: inline-block
        font-family: $raj-font
        font-size: 19px
        font-weight: 600
        text-decoration: none
        margin-top: 20px
        transition: all .3s ease-in-out
        color: #9C98AE
        svg
          transition: all .3s ease-in-out
          margin-right: 5px
        &:hover
          color: $main-blue
          svg
            stroke: $main-blue

.author
  &__username
    font-family: $acumin-font
    font-size: 18px
    font-weight: 600
    color: #1A2338
  &__description
    font-family: $acumin-font
    font-size: 16px
    font-weight: 300
    color: #1A2338
    height: 70px
    display: block
    overflow: hidden
  &__showmore
    display: inline-block
    font-family: $acumin-font
    font-size: 14px
    font-weight: 600
    text-decoration: none
    cursor: pointer
    margin-bottom: 60px
    color: $dark-blue
  &__title
    position: relative
    font-family: $raj-font
    font-size: 24px
    font-weight: 400
    margin-bottom: 10px
    color: #9D9D9D

.sidebar
  .separator-line
    display: block
    width: 100px
    height: 6px
    background-color: $main-orange
    margin-bottom: 20px

.post-template-default
  .author
    &__img-wrapper
      max-width: 173px
      max-height: 173px
      margin-bottom: 40px
      border-radius: 50%
      overflow: hidden
      img
        width: 100%
        height: auto
        object-fit: cover


.von_hans_r_amrein-template-default
  .author
    &__img-wrapper
      margin-bottom: 40px
      img
        max-width: 100%

/*Responsive*/
@include media-breakpoint-down(lg)
  .post-template-default,
  .von_hans_r_amrein-template-default
    .type-post,
    .type-von_hans_r_amrein
      padding-top: 0px
      padding-bottom: 0px