.archive-sidebar
  .sidebar-swiper
    margin-bottom: 20px
    .swiper-wrapper
      .swiper-slide
        background-color: #F9F9F9
        padding: 18px
        ul
          list-style: none
          padding: 0
          margin: 0
          li
            margin-bottom: 20px
            border-bottom: 1px dashed #D1D1D1
            &:last-of-type
              margin-bottom: 0px
              border-bottom: none
              .card-sidebar-xs
                margin-bottom: 0px
    .swiper-pagination
      position: relative
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      align-items: stretch
      bottom: 0px
      margin-bottom: 40px
      .swiper-pagination-bullet
        display: block
        width: auto
        height: auto
        margin: 0
        padding: 5px 15px
        white-space: nowrap
        border: 1px solid #E8E8E8
        border-radius: 0px
        flex-grow: 1
        font-family: $raj-font
        font-size: 18px
        font-weight: 600
        color: $main-blue
        background: #fff
        opacity: 1
        -moz-user-select: none
        -khtml-user-select: none
        -webkit-user-select: none
        -ms-user-select: none
        user-select: none
      .swiper-pagination-bullet-active
        border: 1px solid $main-blue

.sidebar.is-affixed
  .sidebar__inner,
  .sidebar-by-hans__inner
    padding-right: 12px
    padding-left: 12px