.section-slider-w-sidebar-wrapper
  .title-w-slider
    margin-bottom: 30px
    .section-title
      margin-bottom: 0px

    .section-slider-w-sidebar-button-prev,
    .section-slider-w-sidebar-button-next
      position: relative
      padding: 10px 20px
      margin-top: 0px
      background-color: $main-blue
      color: #fff
      transition: all .3s ease-in-out
      &::after
        font-size: 16px
      &:hover
        background-color: $main-orange
    .section-slider-w-sidebar-button-prev
      left: 0px
    .section-slider-w-sidebar-button-next
      right: 0px
      margin-left: 15px

/*Responsive*/
@include media-breakpoint-down(lg)
  .section-slider-w-sidebar-wrapper
    position: relative
    .kommentar
      &__nav
        position: absolute !important
        bottom: 25px
        left: 0
        justify-content: flex-start !important
      &__row
        margin-bottom: 60px
    .title-w-slider
      justify-content: flex-start !important