.section
  padding-top: 60px
  padding-bottom: 40px

  .section-title
    position: relative
    font-family: $raj-font
    font-weight: bold
    font-size: 30px
    text-transform: uppercase
    margin-bottom: 30px
    margin-top: 15px
    color: $main-blue
    &::before
      position: absolute
      top: -15px
      left: 0px
      content: ''
      display: block
      width: 100px
      height: 6px
      background-color: $main-orange

/* Responsive */
@include media-breakpoint-down(md)
  .section-four-blocks
    padding-bottom: 0