.section-contact-intro
    padding-bottom: 100px

.contact-intro
    &__contact-title
        color: #090036
        font-family: $raj-font
        font-size: 30px
        font-weight: 600
    &__title
        font-family: $raj-font
        font-size: 30px
        text-transform: uppercase
        margin-bottom: 70px
        color: #090036
    &__text
        font-family: $acumin-font
        font-size: 16px
        font-weight: 300
        color: #1A2338
        margin-bottom: 50px
        a
            color: $main-orange
            font-family: $acumin-font
            font-size: 16px
            font-weight: 700
            line-height: 24px
            text-decoration: none
            transition: all .3s ease-in-out
            &:hover
                color: $main-blue

.contact__newsletter
    .wpcf7-response-output
        background-color: $main-blue !important
        color: #fff 
        border-color: $main-blue
    form.invalid
        .wpcf7-response-output
            background-color: #ffb900
            border-color: #ffb900
    input[type=text],
    input[type=email],
    textarea
        border: 1px solid #707070 !important
        border-radius: 24px !important
        font-family: montserrat,sans-serif
        font-size: 12px
        font-weight: 600
        line-height: 24px
        padding: 10px 25px !important
        text-transform: uppercase
        margin-bottom: 20px
        width: 100%
        max-width: 100%
        transition: all .3s ease-in-out
    input[type=submit]
          margin-top: 10px !important
          background-color: #c26538 !important
          color: #fff !important
          border: none !important
          border-radius: 24px !important
          font-family: montserrat,sans-serif
          font-size: 12px
          font-weight: 600
          padding: 8.5px 15px !important
          text-transform: uppercase
          min-width: 120px
          transition: all .3s ease-in-out
          &:hover
            background-color: $main-blue !important