.section-featured-marktplatz
  background-color: $background-grey
  .section-title
    color: $font-grey
    &::before
      display: none

.section-company-content
  .latest-posts
    &__backlink
      font-family: $raj-font
      font-size: 19px
      font-weight: 600
      color: #9C98AE
      text-decoration: none
      margin-right: 40px