.section.section-presenting-partner
  background-color: $background-grey
  .section-title
    &::before
      top: auto
      bottom: -10px
      left: 50%
      transform: translateX(-50%)
  .presenting-partner
    &-card
      margin-top: 10px
      margin-bottom: 10px
    &-link
      display: inline-block
    &-logo
      max-width: 100%
      width: 100%
      height: auto
      object-fit: cover
      transition: all .3s ease-in
      opacity: 1
      &:hover
        opacity: 0.7

  .swiper-presenting-partner
    .swiper-wrapper
      transition-timing-function: linear
      .swiper-slide
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        width: auto
        /*a
          display: flex
          justify-content: center
          align-items: center
          text-align: center
          width: auto
          img
            width: 100%
            max-width: 100%
            height: auto
            object-fit: cover