.single-post
    &__header
        h1
            font-family: $acumin-font
            font-size: 30px
            font-weight: 600
            color: #1A2338
            margin-bottom: 20px
    &__content
        max-width: 670px
        p
            font-family: $acumin-font
            font-size: 16px
            font-weight: 300
            color: #1A2338
            strong
                font-weight: 600
    &__date
        padding: 20px 0
        font-family: $acumin-font
        font-size: 16px
        font-weight: 400
        color: #9D9D9D

.author
    &__username
        font-family: $acumin-font
        font-size: 18px
        font-weight: 600
        color: #1A2338
    &__description
        font-family: $acumin-font
        font-size: 16px
        font-weight: 300
        color: #1A2338
        height: 70px
        display: block
        overflow: hidden
    &__showmore
        font-family: $acumin-font
        font-size: 14px
        font-weight: 600
        color: #1A2338
        text-decoration: none
        cursor: pointer