.section
  padding-top: 60px
  padding-bottom: 40px

  .section-title
    position: relative
    font-family: $raj-font
    font-weight: bold
    font-size: 30px
    text-transform: uppercase
    margin-bottom: 30px
    margin-top: 15px
    color: $main-blue
    &::before
      position: absolute
      top: -15px
      left: 0px
      content: ''
      display: block
      width: 100px
      height: 6px
      background-color: $main-orange

.section-markt-intro
  padding-top: 100px

.section-marktplatz
  padding-top: 20px
  padding-bottom: 100px

/* Responsive */
@include media-breakpoint-down(lg)
  .post-type-archive-von_hans_r_amrein
    .section-archive-content
      padding-bottom: 80px

  .section-four-blocks,
  .section-about-intro
    padding-bottom: 0 !important

  .section-archive-content
    padding-bottom: 0 !important

  .section-contact-intro,
  .section-about-team
    padding-bottom: 40px !important

  .section-archive-header
    padding-top: 25px

  .section-page-title
    background-color: #ffffff !important
    padding-top: 40px
    .page-title
      color: $main-blue !important
    #breadcrumbs
      color: $main-blue
      a
        color: $main-blue

  .section-markt-intro,
  .section-company-content
    padding-top: 0 !important

  .search-results
    .section-content
      padding-top: 0 !important

  .page-template-page-mediadaten
    .section
      .section-title:before
        content: none

@include media-breakpoint-down(sm)
  .section-four-blocks,
  .section-latest-videos,
  .section-categorie-three-blocks
    .section-title
      margin-bottom: 0
    .btn-go-to-overview
      margin-bottom: 25px