.ads
  a
    display: block
    img
      width: 100%
      max-width: 100%
      height: auto
      object-fit: cover

/*Responsive*/
@include media-breakpoint-down(lg)
  .ads.ads-sidebar
    padding: 0