.ads
  a
    display: block
    img
      width: 100%
      max-width: 100%
      height: auto
      object-fit: cover
.ads-footer
  a
    img
      width: auto
      max-width: 100%

/*Responsive*/
@include media-breakpoint-down(lg)
  .section-ads-footer, .ads-sidebar, .ads-footer
    padding: 0