.section-breadcrumbs
    background-color: $main-blue
    .breadcrumbs
        &__title
            color: #F9F9F9
        &__separator-line
            width: 96px
            border-bottom: 6px solid $main-orange
            margin-bottom: 10px