.btn-go-to-overview
  font-family: $raj-font
  font-weight: 700
  font-size: 18px
  text-decoration: none
  color: #9C98AE
  display: flex
  justify-content: flex-end
  align-items: center
  margin-top: 20px
  transition: all .3s ease-in-out
  &:hover
    color: $main-orange
  i
    display: block
    font-size: 32px
    margin-left: 10px

.btn
  font-family: $montserrat-font
  font-size: 12px
  border-radius: 24px
  text-transform: uppercase
  padding: 0.469rem 1.417rem
  &__blue
    background-color: $main-blue
    color: #FFFFFF
  &__orange
    background-color: $main-orange
    color: #FFFFFF

.btn-small
  a
    display: inline-block
    padding: 6px 15px
    font-size: 16px
    line-height: 1
    border-radius: 24px
    transition: all 0.3s ease-in-out
  &__blue
    a
      color: #FFFFFF !important
      background-color: $main-blue
    &:hover
      a
        background-color: $main-orange
  &__orange
    a
      background-color: $main-orange
      color: #FFFFFF
    &:hover
      a
        background-color: $main-blue