.btn-go-to-overview
  font-family: $raj-font
  font-weight: 700
  font-size: 18px
  text-decoration: none
  color: #9C98AE

.btn
  font-family: $montserrat-font
  font-size: 12px
  border-radius: 24px
  text-transform: uppercase
  padding: 0.469rem 1.417rem
  &__blue
    background-color: $main-blue
    color: #FFFFFF