.card
  border: none
  border-radius: 0px
  margin-bottom: 40px
  overflow: hidden
  figure
    margin-bottom: 20px
    overflow: hidden
    img
      width: 100%
      max-width: 100%
      height: auto
      object-fit: cover
      transform: scale(1)
      transition: all .3s ease-in-out
  &-title
    font-family: $acumin-font
    font-size: 22px
    margin-bottom: 10px
    transition: all .3s ease-in-out
    // Addition lines for 2 line or multiline ellipsis
    text-overflow: ellipsis
    overflow: hidden
    display: -webkit-box !important
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical
    white-space: normal
    color: $main-blue
  &-date
    display: flex
    align-items: center
    color: $font-grey
    i
      margin-right: 6px
    time
      font-family: $montserrat-font
      font-weight: 300
      font-size: 12px
      text-transform: uppercase
  &-description
    font-family: $acumin-font
    font-weight: 400
    font-size: 16px
    color: $main-blue
    // Addition lines for 2 line or multiline ellipsis
    text-overflow: ellipsis
    overflow: hidden
    display: -webkit-box !important
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical
    white-space: normal

  &-badge
    position: absolute
    top: 0px
    display: block
    z-index: 99
    padding: 5px 15px
    font-family: $montserrat-font
    font-size: 12px
    font-weight: 600
    text-transform: uppercase
    &--sponsoredcontent
      right: 20px
      background-color: $main-blue
      color: $main-orange
    &--kommentar
      left: 20px
      background-color: $main-orange
      color: $main-blue
    &--custom-badge
      padding: 10px
      display: flex
      align-items: center
      left: 0px
      top: 0px
      cursor: pointer
      svg
        width: 35px
        z-index: 2
      .content
        margin-left: -20px
        z-index: 1
        overflow: hidden
        p
          padding: 5px 5px 5px 25px
          margin: 0
          margin-right: 10px
          background-color: #00172A
          color: #fff
          line-height: 1
          transform: translateX(-200px)
          transition: all 0.6s ease-in-out
          position: relative
          &::after
            content: ''
            display: block
            position: absolute
            right: -10px
            top: 0
            width: 0
            height: 0
            border-right: 5px solid transparent
            border-top: 5px solid #00172A

            border-bottom: 5px solid transparent
            border-left: 5px solid #00172A
            z-index: 1
          &::before
            content: ''
            display: block
            position: absolute
            right: -10px
            bottom: 0
            width: 0
            height: 0
            border-right: 5px solid transparent
            border-top: 5px solid transparent

            border-bottom: 5px solid #00172A
            border-left: 5px solid #00172A
            z-index: 1
      &:hover
        .content
          p
            transform: translateX(0px)
  &--default
    min-height: 233px
    .card-content
      display: flex
      flex-direction: column
      justify-content: space-between
    .card-title
      font-size: 18px
  &--sm
    min-height: 233px
    .card-content
      display: flex
      flex-direction: column
      justify-content: space-between
    .card-title
      font-size: 18px

  &--xl
    min-height: 510px

  &--kommentar-slider
    .card-content
      .card-description
        p
          font-family: $acumin-font
          font-weight: 400
          font-size: 16px
          color: $main-blue
          // Addition lines for 2 line or multiline ellipsis
          text-overflow: ellipsis
          overflow: hidden
          display: -webkit-box !important
          -webkit-line-clamp: 3
          -webkit-box-orient: vertical
          white-space: normal
      hr
        max-width: 50%
        background-color: $main-blue
        opacity: 1

  &-link
    display: block
    text-decoration: none
    &:hover
      .card
        img
          transform: scale(1.1)
          //webkit-filter: blur(4px)
          //filter: blur(4px)
        .card-title
          color: $main-orange
    + .card-link
      margin: 0px
    

  &--horizontal
    flex-direction: row
    width: 100%
    align-items: center
    margin-bottom: 20px
    figure
      margin: 0px
      img
        min-width: 150px
    .card-content
      padding: 0px 20px
    .card-title
      font-size: 18px

    &__xs
      flex-direction: row
      width: 100%
      align-items: center
      margin-bottom: 24px
      background-color: transparent
      figure
        margin-bottom: 0px
        max-width: 100px
        min-width: 100px
        img
          width: 100px
          max-width: 100px
          min-width: 100px
          height: 100px
      .card-content
        padding: 0px 20px
      .card-title
        font-size: 18px
    &__lg
      .card-description
        p
          font-family: $acumin-font
          font-weight: 400
          font-size: 16px
          color: $main-blue
          // Addition lines for 2 line or multiline ellipsis
          text-overflow: ellipsis
          overflow: hidden
          display: -webkit-box !important
          -webkit-line-clamp: 4
          -webkit-box-orient: vertical
          white-space: normal
      figure
        min-width: 270px
      hr
        background-color: #E1E1E1
      .card-title
        font-size: 18px
        -webkit-line-clamp: 2

  &--club-event
    flex-direction: row
    align-items: center
    max-height: 390px
    min-height: 390px
    background-color: #F9F9F9
    figure
      margin-bottom: 0px
      img
        max-width: 768px
    .card-content
      display: flex
      flex-direction: column
      justify-content: center
      padding: 60px 30px
      margin: 0 auto
      max-width: 400px
    .card-description
      margin-bottom: 40px

  &--wide-cat
    .card-content
      .card-description
        p
          font-family: $acumin-font
          font-weight: 400
          font-size: 16px
          color: $main-blue
          // Addition lines for 2 line or multiline ellipsis
          text-overflow: ellipsis
          overflow: hidden
          display: -webkit-box !important
          -webkit-line-clamp: 2
          -webkit-box-orient: vertical
          white-space: normal
      hr
        max-width: 60%
        background-color: $main-blue
        opacity: 1
  &--wide
    background-color: #FCFCFC
    box-shadow: 0px 3px 6px #00000029
    figure
      max-width: 670px
      min-width: 670px
      img
        max-width: 670px
    .card-content
      padding: 30px 30px 40px

    .card-description
      margin-bottom: 20px
      p
        font-family: $acumin-font
        font-weight: 300
        font-size: 16px
        color: $main-blue
        // Addition lines for 2 line or multiline ellipsis
        text-overflow: ellipsis
        overflow: hidden
        display: -webkit-box !important
        -webkit-line-clamp: 4
        -webkit-box-orient: vertical
        white-space: normal

  &--archive-kommentar
    flex-direction: row
    align-items: center
    background-color: #FCFCFC
    box-shadow: 0px 3px 6px #00000029
    figure
      margin-bottom: 0
      min-width: 570px
    .card-content
      padding: 40px 30px
      .card-description
        p
          font-family: $acumin-font
          font-weight: 400
          font-size: 16px
          color: $main-blue
          // Addition lines for 2 line or multiline ellipsis
          text-overflow: ellipsis
          overflow: hidden
          display: -webkit-box !important
          -webkit-line-clamp: 2
          -webkit-box-orient: vertical
          white-space: normal

  &--youtube
    background-color: transparent
    figure
      position: relative
      .play-icon
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        top: 50%
        left: 50%
        width: 108px
        height: 108px
        border-radius: 80px
        transform: translate(-50%, -50%)
        background-color: #fff
    .card-content
      .card-title
        font-family: $acumin-font
        font-weight: 700
        font-size: 18px
        color: #fff
    &__sm
      figure
        position: relative
        .play-icon
          width: 34px
          height: 34px

.archive-sidebar
  .sidebar-swiper
      .swiper-slide
        ul
          li
            .card--horizontal__xs
              margin-bottom: 20px
            &:last-of-type
              .card--horizontal__xs
                  margin-bottom: 0px

/*Responsive*/
@include media-breakpoint-down(lg)
  .card
    &-title
      font-size: 18px

  .card-content
    hr
      display: none
  .card--xl
    min-height: auto

  .card--youtube
    figure
      .play-icon
        width: 34px
        height: 34px
        svg
          width: 9px
          height: 10px

  .card--wide
    figure
      min-width: auto

  .card--horizontal
    &__lg
      figure
        min-width: 40%
      .card-content
        .card-description
          display: none !important

  .card--archive-kommentar
    flex-direction: column
    figure
      min-width: 100%