.card
  border: none
  img
    width: 100%
    max-width: 100%
    height: auto
    object-fit: cover
  &-title
    font-family: $acumin-font
    // Addition lines for 2 line or multiline ellipsis
    text-overflow: ellipsis
    overflow: hidden
    display: -webkit-box !important
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical
    white-space: normal
  &-date
    display: flex
    align-items: center
    color: $font-grey
    svg
      width: 16.706px
      height: 16.706px
      margin-right: 10px
    time
      font-family: $montserrat-font
      font-weight: 300
      font-size: 14px
      text-transform: uppercase
  &-description
  &-content
    hr
      max-width: 50%
      background-color: $main-blue
      color: $main-blue
  &-block-w-slider
    img
      margin-bottom: 20px
    .card-content

.card-sidebar
  flex-direction: row
  width: 100%
  align-items: center
  img
    max-width: 150px
  .card-content
    padding: 10px 20px
  .card-title
    font-size: 18px
