.card
  border: none
  margin-bottom: 40px
  img
    width: 100%
    max-width: 100%
    height: auto
    object-fit: cover
    margin-bottom: 20px
  a
    text-decoration: none
    display: block
    &:hover
      .card-title
        color: $main-orange
  &-title
    font-family: $acumin-font
    font-size: 22px
    margin-bottom: 10px
    transition: all .3s ease-in-out
    // Addition lines for 2 line or multiline ellipsis
    text-overflow: ellipsis
    overflow: hidden
    display: -webkit-box !important
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical
    white-space: normal
    color: $main-blue
  &-date
    display: flex
    align-items: center
    color: $font-grey
    i
      margin-right: 6px
    time
      font-family: $montserrat-font
      font-weight: 300
      font-size: 12px
      text-transform: uppercase
  &-description
    font-family: $acumin-font
    font-weight: 300
    font-size: 16px
    // Addition lines for 2 line or multiline ellipsis
    text-overflow: ellipsis
    overflow: hidden
    display: -webkit-box !important
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical
    white-space: normal
  &-content

  &-block-w-slider
    .card-content
      hr
        max-width: 50%
        background-color: $main-blue
        opacity: 1

.card-sidebar
  flex-direction: row
  width: 100%
  align-items: center
  margin-bottom: 20px
  img
    max-width: 150px
    margin-bottom: 0px
  .card-content
    padding: 0px 20px
  .card-title
    font-size: 18px

.card-club-event
  flex-direction: row
  align-items: center
  i
    max-width: 768px