.main-header
  .top-header
    padding: 25px 0px
    background-color: $main-blue
    .navbar-toggler
      display: flex
      align-content: center
      align-items: center
      border: none
      box-sizing: border-box
      flex-direction: column
      height: 24px
      justify-content: space-between
      padding: 0
      transition: all .4s ease-in-out
      width: 33px
      margin-left: 30px
      box-shadow: none
      span
        background: #fff
        border-radius: 0
        height: 3px
        transform-origin: right
        transition: all .4s ease-in-out
        width: 100%
      span:first-child
        align-self: flex-end
      span:nth-child(2)
        transform-origin: left
      span:nth-child(3)
        align-self: flex-start

  .navbar
    background-color: #fff

.admin-bar
  .main-header.fixed-top
    top: 32px

.mega-menu
  position: absolute
  z-index: 999
  top: 102px
  left: 0
  width: 100%
  background-color: #F3F3F3
  padding: 55px 0 0 0
  &__row
    justify-content: center
    padding-bottom: 50px
  &__title
    font-size: 18px
    font-family: $raj-font
    font-weight: 600
    text-transform: uppercase
    color: $main-orange
  &__copyright-navigation-wrapper
    display: flex
    justify-content: center
    padding: 30px 0 0 0
    margin: 0
    li
      float: left
      margin: 0 17px
      font-family: $raj-font
      font-size: 18px
      font-weight: 400
      a
        color: #5A5A5A
        text-decoration: none
    li:first-child
        list-style: none
  #top-nav
    li
      font-family: $raj-font
      font-size: 18px
      font-weight: 600
      line-height: 43px
      a
        color: #5A5A5A
        text-decoration: none
  #top-sec-nav
    li
      font-family: $raj-font
      font-size: 18px
      font-weight: 400
      line-height: 43px
      a
        color: #5A5A5A
        text-decoration: none
  .navbar-cols-2
    column-count: 2
  .socials-text
    font-family: $acumin-font
    font-size: 16px
    margin-bottom: 15px
  .socials-wrapper
    display: flex
    margin-bottom: 30px
    .social-link
      display: block
      padding-right: 15px
      margin-right: 15px
      border-right: 1px solid #9A9A9A
      &:last-of-type
        padding-right: 0px
        margin-right: 0px
        border-right: none
      svg
        height: 20px
        fill: #1A2338

.top-header
  input[type=search]
    width: 254px
    border: 1px solid #00172A
    border-radius: 24px!important

@include media-breakpoint-down(md)
  .admin-bar
    .main-header.fixed-top
      top: 46px

@include media-breakpoint-down(sm)
  .main-header
    .custom-logo-link
      svg
        width: 100%
        height: 40px