.main-header
  .top-header
    padding: 25px 0px
    background-color: $main-blue
    .navbar-toggler
      position: relative
      display: flex
      align-content: center
      align-items: center
      border: none
      box-sizing: border-box
      flex-direction: column
      height: 24px
      justify-content: space-between
      padding: 0
      -webkit-transform: rotate(0deg)
      -moz-transform: rotate(0deg)
      -o-transform: rotate(0deg)
      transform: rotate(0deg)
      -webkit-transition: .5s ease-in-out
      -moz-transition: .5s ease-in-out
      -o-transition: .5s ease-in-out
      transition: .5s ease-in-out
      width: 33px
      margin-left: 30px
      box-shadow: none
      span
        background: #fff
        border-radius: 0
        height: 3px
        width: 50%
        display: block
        position: absolute
        opacity: 1
        -webkit-transform: rotate(0deg)
        -moz-transform: rotate(0deg)
        -o-transform: rotate(0deg)
        transform: rotate(0deg)
        -webkit-transition: .25s ease-in-out
        -moz-transition: .25s ease-in-out
        -o-transition: .25s ease-in-out
        transition: .25s ease-in-out
      span:nth-child(even)
        left: 50%
      span:nth-child(odd)
        left:0px
      span:nth-child(1), span:nth-child(2)
        top: 0px
      span:nth-child(3), span:nth-child(4)
        top: 11px
      span:nth-child(5), span:nth-child(6)
        top: 21px
    .navbar-toggler.open
      span:nth-child(1), span:nth-child(6)
        -webkit-transform: rotate(45deg)
        -moz-transform: rotate(45deg)
        -o-transform: rotate(45deg)
        transform: rotate(45deg)
      span:nth-child(2), span:nth-child(5)
        -webkit-transform: rotate(-45deg)
        -moz-transform: rotate(-45deg)
        -o-transform: rotate(-45deg)
        transform: rotate(-45deg)
      span:nth-child(1)
        left: 3px
        top: 7px
      span:nth-child(2)
        left: calc(50% - 3px)
        top: 7px
      span:nth-child(3)
        left: -50%
        opacity: 0
      span:nth-child(4)
        left: 100%
        opacity: 0
      span:nth-child(5)
        left: 3px
        top: 17px
      span:nth-child(6)
        left: calc(50% - 3px)
        top: 17px
        

  .navbar
    background-color: #fff
  .navbar-brand.custom-logo-link
    margin: 0

  .navbar__subtitle
    max-width: 228px

.admin-bar
  .main-header.fixed-top
    top: 32px

.mega-menu
  position: absolute
  z-index: 999
  top: 102px
  left: 0
  width: 100%
  background-color: #F3F3F3
  padding: 55px 0 0 0
  &__row
    justify-content: center
    padding-bottom: 50px
  &__bottom-row
    border-top: 1px solid #707070
  &__title
    font-size: 18px
    font-family: $raj-font
    font-weight: 600
    text-transform: uppercase
    color: $main-orange
  &__copyright-navigation-wrapper
    display: flex
    justify-content: center
    padding: 30px 0 0 0
    margin: 0
    li
      float: left
      margin: 0 15px
      font-family: $raj-font
      font-size: 18px
      font-weight: 400
      a
        color: #5A5A5A
        text-decoration: none
        transition: all .3s ease-in-out
        &:hover
          color: $main-orange

    li:first-child
        list-style: none
  #top-nav
    li
      font-family: $raj-font
      font-size: 18px
      font-weight: 600
      line-height: 43px
      a
        color: #5A5A5A
        text-decoration: none
        transition: all .3s ease-in-out
        &:hover
          color: $main-orange
  #top-sec-nav
    li
      font-family: $raj-font
      font-size: 18px
      font-weight: 400
      line-height: 43px
      a
        color: #5A5A5A
        text-decoration: none
        transition: all .3s ease-in-out
        &:hover
          color: $main-orange
  #navbarSupportedContent
    border-top: 1px solid #707070
  .navbar-cols-2
    column-count: 2
  .socials-text
    font-family: $acumin-font
    font-size: 16px
    margin-bottom: 15px
  .socials-wrapper
    display: flex
    margin-bottom: 30px
    .social-link
      display: block
      padding-right: 15px
      margin-right: 15px
      border-right: 1px solid #9A9A9A
      transition: all .3s ease-in-out
      &:last-of-type
        padding-right: 0px
        margin-right: 0px
        border-right: none
      &:hover
        svg
          fill: $main-orange
      svg
        height: 20px
        fill: #1A2338
        transition: all .3s ease-in-out

  .widget_newsletter2go
    margin-bottom: 10px
    .nl2go-widget
      form
        button[type=submit]
          margin-top: 10px !important
          background-color: #c26538 !important
          transition: all .3s ease-in-out
          &:hover
            background-color: $main-blue !important

.top-header, .search__bar
  .search-form
    .input-group.has-search
      //background-color: #fff
    .form-control.search-field
      width: 254px
      border: 1px solid transparent
      border-radius: 24px !important
      background-color: #fff
      background-image: url('../../images/search-icon.svg')
      background-repeat: no-repeat
      background-attachment: scroll
      background-position: 12px 7px
      padding-left: 40px
      font-family: $acumin-font
      font-weight: 400
      font-size: 16px
      line-height: 22px
      color: $main-blue
      &:placeholder
        font-family: $acumin-font
        font-weight: 300
        font-size: 16px
        line-height: 22px
        color: $font-grey
      &:focus-visible
        outline: none


/*Responsive*/
@include media-breakpoint-down(xl)
  .mega-menu
    #top-nav
      display: block
      column-count: 2
    .navbar-cols-2
      column-count: inherit

@include media-breakpoint-down(lg)
  #main-header
    .navbar__subtitle
      display: none
    .search__bar
      .search-form
        display: block

@include media-breakpoint-up(md)
  #main-header
    .search__bar
      display: none
    .search
      &__mobile-btn
        display: none

@include media-breakpoint-down(md)
  .admin-bar
    .main-header.fixed-top
      top: 46px

  #main-header
    .search-form
      display: none

  .custom-logo-link
    margin-left: 15px
    img
      max-width: 240px

  .navbar-toggler
    margin-right: 15px

  .main-header
    .top-header
      padding: 4px 0
      position: relative
      z-index: 999

  .mega-menu
    top: 60px
    padding: 20px 0 0 0
    background-color: $main-blue
    height: 99vh
    overflow-y: scroll
    &__socials-col, &__copyright-col
      display: none
    &__secondary-col
      margin-top: 20px
    #navbarSupportedContent, &__bottom-row
      border-top: none
    .navbar-cols-2
      column-count: inherit
    #top-nav
      column-count: 1
    #top-nav, #top-sec-nav
      li
        font-size: 16px
        line-height: 32px
        a
          color: #F3F3F3

@include media-breakpoint-down(sm)
  .main-header
    .custom-logo-link
      svg
        width: 100%
        height: 40px

  .custom-logo-link
    img
      max-width: 165px