.widget_newsletter2go
  .nl2go-widget
    form
      table
        tr
          td
            &:first-of-type
              display: none
      h2
        font-size: 16px
        font-family: $acumin-font
        font-weight: 300
        color: $main-blue
        background-color: #f3f3f3
        border-radius: 6px
        border: 1px solid $main-blue
        padding: 16px
        margin-bottom: 30px

      label
        display: none

      input[type=email]
        margin-right: 20px
        width: 270px
        border-radius: 24px !important
        color: $main-blue
        background-color: #FFFFFF
        border: none !important
        text-transform: uppercase
        font-family: $montserrat-font
        font-size: 12px
        font-weight: 600
        padding: 8.5px 15px !important
      button[type=submit]
        border-radius: 24px !important
        background-color: $main-blue !important
        color: #FFFFFF !important
        border: none !important
        text-transform: uppercase
        font-family: $montserrat-font
        font-size: 12px
        font-weight: 600
        padding: 8.5px 15px !important

.boxzilla.boxzilla-top-right
  top: 20% !important
  right: 3% !important
  background-color: #F3F3F3
  padding: 25px 32px 0 32px

.newsletter-popup
  width: 386px
  &__title
    font-family: $acumin-font
    font-size: 30px
    color: $main-orange
    font-weight: 700
  &__text
    font-family: $acumin-font
    font-size: 18px
    color: $dark-blue
    line-height: 22px
    font-weight: 600
    max-width: 330px
  &__list
    margin-bottom: 30px
    list-style-type: none
    list-style-image: url("../../images/icon-list-check.svg")
    li
      font-family: $acumin-font
      font-size: 16px
      color: $dark-blue
      line-height: 27px
  .nl2go-widget
    form
      input[type=email]
        width: 100%
        border: 1px solid #707070 !important
      button[type=submit]
        width: 100%
        margin-top: 10px !important

@include media-breakpoint-down(md)
  .widget_newsletter2go
    .nl2go-widget
      form
        input[type=email]
          width: 80%
          margin: 0 auto 15px auto
      table
        flex-direction: column
        align-items: center
      tr
        width: 100%
        td
          display: block
          width: 100%
